In [43]:
import pandas as pd
import plotly.express as px
import plotly.io as pio
import matplotlib.pyplot as plt
from plotly.offline import init_notebook_mode, iplot

In [30]:
# load cleaned data
df = pd.read_parquet("../data/cleaned/storms_1996_2025.parquet")

In [48]:
mask = (df["YEAR"].between(1996, 1998)) & (df["EVENT_TYPE"].isin(["Tornado", "Flood", "Hurricane", "Winter Storm","Thunderstorm Wind"]))
df_filtered = df[mask]

In [49]:
counts = df_filtered["EVENT_TYPE"].value_counts().reset_index()

In [50]:
counts

          EVENT_TYPE  count
0  Thunderstorm Wind  33573
1       Winter Storm   8082
2              Flood   6515
3            Tornado   4101

In [51]:
fig1 = px.bar(counts, x='count', y="EVENT_TYPE", labels={"index": "Event Type", "EVENT_TYPE": "Count"})

In [52]:
fig1.show(renderer="browser")